# Hetzner Cloud Configuration
TF_VAR_hcloud_token=""
HETZNER_PROJECT_ID=""

# SSH Configuration
TF_VAR_ssh_public_key_path="~/.ssh/id_rsa.pub"
SSH_KEY_PATH="~/.ssh/id_rsa"

# PostgreSQL Configuration
POSTGRES_DB_PASSWORD=""
POSTGRES_HOST=""

# S3 Configuration (Hetzner Object Storage)

# S3 Admin (same project as bucket)
S3_ACCESS_KEY=""
S3_SECRET_KEY=""

S3_ENDPOINT="nbg1.your-objectstorage.com"
S3_REGION="nbg1"
S3_BUCKET_NAME="ducklake-guard"
S3_DATA_PATH="s3://ducklake-guard/"
S3_USE_SSL=true

# S3 Reader (separate project, not where the bucket is)
S3_READER_EXT_ACCESS_KEY=""
S3_READER_EXT_SECRET_KEY=""
HETZNER_EXT_PROJECT_ID=""
